

body, html {
    background: rgb(221,218,255);
    background: radial-gradient(circle, rgba(221,218,255,1) 12%, rgba(186,182,251,1) 30%, rgba(136,131,245,1) 55%, rgba(7,0,170,1) 75%, rgba(4,0,112,1) 92%);
    padding: 0px;
    margin: 0px;
}

#headerDiv {
    padding: 10px;
    text-align: center;
}

#mainDiv {
    
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

#mainDiv p {
    background-color: #181818;
    color: white;
    width: 530px;
    font-size: 70px;
    margin: auto;
    
}

#mainDiv input {
    background-color: #181818;
    border-radius: 3px;
    color: white;
    font-size: 28px;
    padding: 10px 25px 10px 25px;
    margin: 10px 5px 0px 5px;
    transition: background-color 0.2s ease-in-out;
}

#mainDiv input:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

#lapDiv {
    text-align: center;
    font-size: 35px;
    height: 420px;
}